@font-face {
 font-family: "Heebo";
 src: url("fonts/Heebo-Regular.ttf") format("truetype")
}

@font-face {
 font-family: "HeeboBold";
 src: url("fonts/Heebo-Bold.ttf") format("truetype")
}

body {
  padding: 0;
  margin: 0;

  color: whitesmoke;
  font-family: "Segoe UI", Arial, "Helvetica Neue", sans-serif;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 0.3em;
}

body::-webkit-scrollbar-track {
  box-shadow: none !important;
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #f1c40f;

  border-radius: 25px;
}

/* Formattage de texte */
.alinea {
  text-indent: 2em;
}

.first-letter {
  font-size: xx-large;
  font-family: Perpetua;
}

/* Cards */
.cards {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-bottom: 1.5rem;
}

/* Titles */
h1.title {
  font-size: 4rem;
}

h2.title {
  font-size: 3rem;
}

.title {
  user-select: none;

  line-height: 1.15;
  letter-spacing: -0.02em;
  color: #fff;
}

.title-sm {
  line-height: 1.15;
  font-size: 2rem;
  letter-spacing: -0.02em;

  color: #fff;
}

.title,
.title-sm,
.status {
  text-align: center;
}

/* Conteneurs */
.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container.max-vh {
  height: 100vh;
}

.cards {
  display: flex;
  align-items: start;
  justify-content: center;
  margin-bottom: 1.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a, .color-primary {
  color: #ff6348;
  border-color: #ff6348;
  text-decoration: none;
}

.color-secondary {
  color: #EBB805;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
    margin-top: 3rem;
  }
}

.me {
  display: flex;
  align-items: center;
}

/* Avatar */
img#avatar {
  border-radius: 50%;
  margin-right: 3em;
  width: 128px;

  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

img#avatar {
  border-radius: 50%;
  margin-right: 3em;
  width: 64px;
}

img#avatar:hover {
  transform: scale(1.1, 1.1);
}

.subtitle {
  user-select: none;

  font-family: "Heebo", "Helvetica Neue", system-ui;
  font-size: 2em;
  line-height: 1.4em;
  letter-spacing: .04em;
  color: #fff;
}

.description {
  background-color: rgba(0,0,0,.5);

  padding: 1.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;

  font-family: "Heebo", system-ui;
  font-size: 1.2em;

  line-height: 1.4em;
  letter-spacing: 0.04em;
}

/* Video background */
.video-container {
  position: relative;
  background-color: #000;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.video-container > video {
  object-fit: fill;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
}

.video-container > .container {
    position: relative;
    z-index: 2;
}

/* Navigation bar */
header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

header.sm {
  justify-content: space-between;
}

header > nav {
  float: right;
}

header > nav > .btn-highlight {
  background-color: unset;
}

/* Navigation bar buttons */
.btn-highlight {
  background-color: rgba(0,0,0,.5);
  display: inline-block;
  text-align: center;
  padding: 1.5rem;
}

.btn-highlight > a {
  font-family: system-ui;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .15em;
  display: inline-block;
  position: relative;
}

.btn-highlight > a:not([disabled]):after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: whitesmoke;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.btn-highlight > a:hover:after {
  width: 100%;
  left: 0;
}

.btn-disabled {
  cursor: not-allowed;
  color: oldlace;
}

/* Formulaire de contact */
form.contact {
  display: flex;
  flex-direction: column;
}

form.contact > input,textarea {
  width: 100%;
}

form.contact > * {
  float: left;
}

form.contact > .user-box input, textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

form.contact > button {
  background: white;

  border: none;
  outline: none;

  position: relative;
  display: inline-block;

  padding: 10px 20px;
  margin-top: 40px;

  color: black;

  font-family: "HeeboBold";
  font-size: 1em;
  font-weight: 900;
  text-decoration: none;
  text-transform: uppercase;

  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

form.contact > button:hover {
  transform: scale(1.05, 1.05);
}

/* Bas de page */
footer {
  background-color: rgba(0,0,0,.5);

  min-height: 10em;

  padding: 1.5em;
  margin: 1.5em;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer > .child {
  margin: 1.5em;
  height: 100%;
  border-right: 1px solid grey;

  flex-basis: 45%;
}

footer > .child-large {
  flex-basis: unset;
}

footer > .child:last-child {
  border-right: 0;
}

footer .title {
  font-family: "HeeboBold", sans-serif;
  font-size: larger;
}
