@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;900&display=swap');

html {
  font-family: 'Inter', sans-serif;
}

body {
  padding: 0;
  margin: 0;

  color: black;
  background-color: #fff;

  overflow-x: hidden;
}

.container:first-of-type::before {
  content: "";
  position: absolute;
  left: 13.5vh;
  bottom: 13.5vh;
  width: 15vh;
  height: 15vh;
  border-left: 20px solid #2d3436;
  border-bottom: 20px solid #2d3436;
}

.container:first-of-type::after {
  content: "";
  position: absolute;
  right: 13.5vh;
  top: 13.5vh;
  width: 15vh;
  height: 15vh;
  border-right: 20px solid #2d3436;
  border-top: 20px solid #2d3436;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 0.3em;
}

body::-webkit-scrollbar-track {
  box-shadow: none !important;
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #b71540;
  border-radius: 25px;
}

/* Conteneur vidéo */
.video-container > video {
  display: none;
}

/* Conteneurs */
main {
  margin-top: 3em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 65%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Liens, .color-primary */
a {
  color: inherit;
  text-decoration: none;

  border-bottom: 2px solid;
}

a, .color-primary {
  color: #9561e2;
  border-color: #9561e2;
  text-decoration: none;
}

.color-secondary {
  color: #2ed573;
  border-color: #2ed573;
  text-decoration: none;
}

/* Profil */
.me {
  display: flex;
  align-items: center;

  user-select: none;
}

h1 {
  width: 80%;
}

/* Titre */
.title {
  color: rgba(17,24,39);
  font-weight: 900;
  font-size: 3.5em;
  letter-spacing: -.025em;
  text-align: center;
}

.title.sm {
  font-size: 2rem;
}

/* Sous-titre */
.subtitle {
  font-size: 1.6em;
  font-weight: 400;
  color: rgb(54, 67, 73);
}

.description {
  box-shadow: 0 15px 30px 0 rgba(0,0,0,.11), 0 5px 15px 0 rgba(0,0,0,.08);
  background-color: #fafcfc;
  padding: 1.5em;
  margin: auto 5em auto;
  color: inherit;
  line-height: 24px;
  text-align: justify;
  word-spacing: 0.5rem;
  font-family: Georgia, ui-serif, serif;
}

.description h3 {
  font-weight: 600;
  font-size: 1.7em;
  font-family: 'Inter';

  text-align: start;
  letter-spacing: 0.1em;
}

.description > section > p {
  margin-top: 2em;
}

/*
 * Réseaux sociaux
 */
.icons {
  user-select: none;
  margin: 0 3em 0 3em;
  display: flex;
  flex-wrap: wrap;
}

.icons a {
  color: #78e08f;
  border-bottom: unset;

  padding: 1em;
  display: inline-block;
}

/*
 * Boutons
 */
.buttons {
  display: flex;
  align-items: center;
  font-size: 1.4em;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.buttons > * {
  padding: 1.5em;
  flex: 1 0 auto;
}

/* Règles horizontales */
hr {
  border: 0;
  border-top: 1px solid #eee;
  margin-top: 3em;
  width: 6em;
}

/* Avatar */
img#avatar {
  border-radius: 50%;
  margin-right: 3em;
  width: 128px;
  height: 128px;
}

img#avatar.sm {
  width: 64px;
  height: 64px;
}

/* Haut de page */
header {
  position: relative;
  z-index: 5;

  width: 100%;
  padding: 0 0.5rem;

  display: flex; /*1*/
  flex-direction : row; /*2*/
  justify-content: center; /*3*/

  transition: background-color 0.5s ease-in-out;

  overflow: hidden;
}

header.sm {
  justify-content: space-between;
}

header.sm > a {
  border-bottom: unset;
}

header > nav {
  float: right;
}

nav > .btn-highlight {
  background-color: unset;
}

/* Navigation bar buttons */
.btn-highlight {
  background-color: rgba(0,0,0,.5);
  display: inline-block;
  text-align: center;
  padding: 1.5rem;
}

.btn-highlight > a {
  font-family: system-ui;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .15em;
  display: inline-block;
  position: relative;
}

.btn-highlight > a:not([disabled])::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: whitesmoke;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.btn-highlight > a:hover::after {
  width: 100%;
  left: 0;
}

.btn-disabled {
  cursor: not-allowed;
  color: oldlace;
}

/* Formulaire de contact */
form.contact {
  padding: 1.5em;
  word-spacing: 0.5rem;

  color: black;
  background-color: #ecf0f1;

  display: flex;
  flex-direction: column;
}

form.contact > input,textarea {
  width: 100%;
}

form.contact > * {
  float: left;
}

form.contact > .user-box input, textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}

form.contact > button {
  background: black;

  border: none;
  outline: none;

  position: relative;
  display: inline-block;

  padding: 10px 20px;
  margin-top: 40px;

  color: white;

  font-family: monospace, system-ui;
  font-size: 1.3em;
  font-weight: 900;

  text-decoration: none;
  text-transform: uppercase;

  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

form.contact > button:hover {
  transform: scale(1.05, 1.05);
}

/* Bas de page */
footer {
  position: relative;
  min-height: 10em;

  padding: 1.5em;
  margin: 1.5em;

  display: flex;
  align-items: baseline;

  font-family: Georgia, serif;
}

footer::before {
  border-top: rgb(226, 232, 240) solid 1px;
  content: "";
  width: 70%;
  position: absolute;
  top: 0;
  left: 15%;
  margin-left: auto;
  margin-right: auto;
}

footer > .child {
  margin: 1.5em;
  height: 100%;
  border-right: 1px #E2E8F0 grey;

  flex-basis: 45%;
}

footer > .child-large {
  flex-basis: unset;
}

footer > .child:last-child {
  margin-right: 1.5em;
  border-right: 0;
}

footer .title {
  font-size: larger;
}

footer a {
  border-bottom: unset;
}

/*
 * Style pour appareils ayant une taille d'écran plus petite que 600 px
 */
@media (max-width: 600px) {
  .container:first-of-type::before, .container:first-of-type::after {
    display: none;
  }

  .me {
    flex-direction: column;
  }

  .subtitle {
    font-size: 1.2em;
    margin: 0 0 2em;
    text-align: center;
  }

  .me:not(.sm) img#avatar {
    margin-right: 0;
  }

  .buttons {
    flex-direction: column;
  }

  .description {
    padding: 1.5em;
    margin: 1.5em;
  }

  footer {
    flex-direction: column;
    align-items: flex-start;
  }

  footer > .child {
    border: 0;
  }

  footer p {
    font-size: 1.1em;
  }
}

/*
* Projets
*/
.projets #profile {
  margin: 2em;
  display: flex;

  flex-direction: column;
  align-items: center;
}

.projets #userAvatar {
  user-select: none;

  width: 196px;
  border: 5px solid #fff;
  border-radius: 50%;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.projets #userAvatar:hover {
  transform: scale(1.2, 1.2);
}

.projets .title {
  font-size: 2.5em;
}

.projets #stats {
  font-weight: bolder;
}

/*
* Bio
*/
.bio {
  font-size: 1.2em;
  font-style: italic;

  padding: 1.25rem;
  margin-bottom: 1.25rem;

  border: 1px solid #FFEC48;
  border-left-width: .25rem;
  border-radius: .25rem;

  background-color: rgba(140, 140, 140, 0.10);
}

.bio > p {
  float: left;
}

.bio > span {
  float: right;
  padding-top: 3em;
}

.projet {
  width: 85vw;
  margin: 0 1.5em 1.5em 1.5em;

  background-color: rgba(0,0,0,.5);

  color: whitesmoke;
  letter-spacing: 0.04em;
  font-size: 1.2em;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projet > section {
  flex: 2;
  margin: 0 3em;
}

.projet > img {
  user-select: none;

  border: 2px solid transparent;
  border-radius: 5px;

  width: 30vw;
  transition: border-color 0.15s ease;

  flex: 1;
}

.projet > img:hover,
.projet > img:focus,
.projet > img:active {
  border-color: whitesmoke;
  box-shadow: 10px 10px 59px 16px rgba(0,0,0,0.75);
}

.projet h1 {
  color: #FFEC48;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

.projet h2 {
  color: #ecf0f1;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}

.projet ul {
  list-style-type: "💫";
  padding-left: 1em;

  font-size: 0.7em;
  font-family: 'Heebo', system-ui;
}

.projet li {
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 480px) {
  .bio > * {
    margin: 0 !important;
  }

  #stats {
    font-size: .5rem;
  }

  .projet {
    flex-direction: column;
    margin: 1.5em;
  }

  .projet > section {
    margin: 1em;
  }

  .projet h1 {
    font-size: 2em;
  }

  .projet > img {
    display: none;
  }
}
