@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;900&family=Quicksand:wght@700&display=swap');

html {
  font-family: 'Inter', sans-serif;
}

body {
  padding: 0;
  margin: 0;

  background: #fff;
  overflow: hidden visible;

  --color-primary: #9561e2;
  --color-secondary: #2ed573;

  --color-svg-1: #ff7675;
  --color-svg-2: white;

  --color-text: #6B7280;
  color: var(--color-text);
}

@media (min-width: 1024px) {
  .hero::before {
    content: "";
    position: absolute;
    left: 8.5vh;
    bottom: 8.5vh;
    width: 10vh;
    height: 10vh;
    border-left: 20px solid #2d3436;
    border-bottom: 20px solid #2d3436;

    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .hero::after {
    content: "";
    position: absolute;
    right: 8.5vh;
    top: 8.5vh;
    width: 10vh;
    height: 10vh;
    border-right: 20px solid #2d3436;
    border-top: 20px solid #2d3436;

    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .hero:hover:before {
    transform: scale(1.25, 1.25);
  }

  .hero:hover:after {
    transform: scale(1.25, 1.25);
  }
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 0.3em;
}

body::-webkit-scrollbar-track {
  box-shadow: none !important;
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #b71540;
  border-radius: 25px;
}

/* Conteneur vidéo */
.video-container > video {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 1.5em;
}

.grid {
  width: 65%;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Liens, .color-primary */
a {
  color: inherit;
  text-decoration: none;

  border-bottom: 2px solid;
}

a, .color-primary {
  color: var(--color-primary);
  border-color: var(--color-primary);
  text-decoration: none;
}

.color-secondary {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
  text-decoration: none;
}

/* Profil */
.me {
  display: flex;
  align-items: center;

  user-select: none;

  transition: 1s;
}

h1 {
  width: 80%;
}

/* Titre */
.title {
  flex-basis: auto;

  user-select: none;
  text-align: center;

  color: rgba(17,24,39);
  font-size: 3em;
  font-weight: 900;
  letter-spacing: -.025em;
}

.title.sm {
  font-size: 2rem;
}

#myName {
  transition: 1s;
}

/* Sous-titre */
.subtitle {
  font-size: 1.6em;
  font-weight: 400;
  color: rgb(54, 67, 73);

  text-align: center;
}

.description {
  box-shadow: 0 15px 30px 0 rgba(0,0,0,.11), 0 5px 15px 0 rgba(0,0,0,.08);
  background-color: #fafcfc;
  padding: 1.5em;
  margin: auto 5em auto;
  color: inherit;
  line-height: 24px;
  text-align: justify;
  word-spacing: 0.5rem;
  font-family: Georgia, ui-serif, serif;
}

.description h3 {
  font-weight: 600;
  font-size: 1.7em;
  font-family: 'Inter';

  text-align: start;
  letter-spacing: 0.1em;
}

.description > section > p {
  margin-top: 2em;
}

.description > section > h1 {
  font-size: xxx-large;
}

.description > section > h2 {
  font-size: xx-large;
}

.description > section > h1, .description > section > h2 {
  margin: 0;
  padding: .5em;

  color: var(--color-secondary);
  font-family: 'Quicksand', system-ui;
  font-weight: 500;
  text-align: start;
}

.description > section > hr {
  display: none;
}

.description > section > p {
  margin-top: 2em;
}

/*
 * Réseaux sociaux
 */
.icons {
  user-select: none;
  margin: 0 3em 0 3em;
  display: flex;
  flex-wrap: wrap;
}

.icons a {
  color: #78e08f;
  border-bottom: unset;

  padding: 1em;
  display: inline-block;
}

/*
 * Boutons
 */
.buttons {
  display: flex;
  align-items: center;
  font-size: 1.4em;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.buttons > * {
  padding: 1.5em;
  flex: 1 0 auto;
}

/* Règles horizontales */
hr {
  border: 0;
  border-top: 1px solid var(--color-text);
  margin-top: 3em;
  width: 6em;
}

/* Avatar */
img#avatar {
  border: 5px solid #eee;

  border-radius: 50%;
  margin: 0.5em 1.5em 0 0.5em;
  width: 128px;
  height: 128px;
}

img#avatar.sm {
  width: 64px;
  height: 64px;
}

/* Haut de page */
header {
  position: relative;

  width: 100%;
  padding: 0 0.5rem;

  display: flex; /*1*/
  flex-direction : row; /*2*/
  justify-content: center; /*3*/

  transition: background-color 0.5s ease-in-out;

  overflow: hidden;
}

header.collapsable {
  position: fixed;
}

header.collapsable > nav {
  transition: transform 1s;
}

header.sm {
  justify-content: space-between;
}

header.sm > a {
  border-bottom: unset;
}

header > nav {
  float: right;

  display: flex;
  flex-direction: row;

  overflow: hidden;
}

/* Navigation bar buttons */
.btn-highlight {
  display: inline-block;
  text-align: center;
  padding: 1.5rem;

  --color-svg-1: black;

  overflow: hidden;
  white-space: nowrap;

}

.btn-highlight > a {
  font-family: 'Inter', system-ui;
  font-weight: 500;

  border: none;

  cursor: pointer;
  display: inline-block;

  color: var(--color-text);

  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.btn-highlight > a:hover {
  color: rgba(0, 0, 0, 1);
  transform: scale(1.05, 1.05);
}

.btn-highlight svg {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.btn-disabled, .btn-highlight > a:disabled {
  cursor: not-allowed;
  color: oldlace;
}

/* Formulaire de contact */
form.contact {
  padding: 1.5em;
  word-spacing: 0.5rem;

  color: black;
  background-color: #ecf0f1;

  display: flex;
  flex-direction: column;
}

form.contact > input,textarea {
  width: 100%;
}

form.contact > * {
  float: left;
}

form.contact > .user-box input, textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: black;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background: transparent;
}

form.contact > button {
  background: black;

  border: none;
  outline: none;

  position: relative;
  display: inline-block;

  padding: 10px 20px;
  margin-top: 40px;

  color: white;

  font-family: monospace, system-ui;
  font-size: 1.3em;
  font-weight: 900;

  text-decoration: none;
  text-transform: uppercase;

  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

form.contact > button:hover {
  transform: scale(1.05, 1.05);
}

/* Bas de page */
footer {
  position: relative;
  min-height: 10em;

  padding: 1.5em;
  margin: 1.5em;

  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  font-family: Georgia, serif;
}

footer::before {
  border-top: rgb(226, 232, 240) solid 1px;
  content: "";
  width: 70%;
  position: absolute;
  top: 0;
  left: 15%;
  margin-left: auto;
  margin-right: auto;
}

footer > .child {
  margin: 1.5em;
  height: 100%;
  border-right: 1px #E2E8F0 grey;
}

footer > .child-large {
}

footer > .child:last-child {
  margin-right: 1.5em;
  border-right: 0;
}

footer .title {
  font-size: larger;
}

footer a {
  border-bottom: unset;
}


/*
 * Style pour appareils ayant une taille d'écran plus petite que 600 px
 */
@media (max-width: 600px) {
  .container:first-of-type::before, .container:first-of-type::after {
    display: none;
  }

  .buttons {
    flex-direction: column;
  }

  .description {
    padding: 1.5em;
    margin: 1.5em;
  }

  footer {
    flex-direction: column;
    align-items: flex-start;
  }

  footer > .child {
    border: 0;
  }
}

/*
* Projets
*/
section#profile {
  margin: auto;
  display: flex;

  flex-direction: column;
  align-items: center;
}

section#profile > img {
  user-select: none;

  width: 196px;
  border: 5px solid #fff;
  border-radius: 50%;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

section#profile > img:hover {
  transform: scale(1.2, 1.2);
}

section#profile > .title {
  font-size: 2.5em;
}

/*
* Bio
*/
.bio {
  font-style: italic;

  padding: 1.25rem;
  margin-bottom: 1.25rem;

  border: 1px solid #d63031;
  border-left-width: .25rem;
  border-radius: .25rem;

  color: black;
  background-color: rgba(140, 140, 140, 0.15);
}

.bio > p {
  float: left;
}

.bio > span {
  float: right;
  padding-top: 3em;
}

.projet {
  width: 65vw;
  margin: 0 1.5em 1.5em 1.5em;

  box-shadow: 0 15px 30px 0 rgba(0,0,0,.11), 0 5px 15px 0 rgba(0,0,0,.08);
  border-radius: .5rem;

  letter-spacing: 0.04em;
  font-size: 1.2em;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  background-color: #2ed573;
  color: black;
}

.projet > section {
  flex: 2;
  margin: 0 3em;
}

.projet > div {
  background-color: #82e6ab;
}

.projet > section > h1 {
  font-size: 2rem;
}

.projet > section > h2 {
  font-size: 1rem;
}

.projet > section > ul {
  list-style-type: "🌟";
  padding-left: 1em;

  font-size: 0.7em;
  font-family: 'Heebo', system-ui;
}

.projet li {
  margin: 0;
  padding: 0;
}

.projet > .image {
  width: 50%;
  border-radius: 0 5px 5px 0;

  background-size: cover !important;
}

@media (hover: none) {
  header.collapsable {
    position: relative;
  }
}

@media (max-width: 480px) {
  .me {
    flex-direction: column;
  }

  .me:not(.sm) img#avatar {
    margin: 0;
  }

  header, nav {
    flex-flow: column wrap;
    margin-top: 1em;
  }

  nav > .btn-highlight {
    text-align: left;
    width: 100%;
  }

  .bio > * {
    margin: 0 !important;
  }

  .subtitle {
    font-size: 1.2em;
    margin: 0 0 2em;
  }

  .projet {
    flex-direction: column;
    margin: 1.5em 0;
  }

  .projet > section {
    margin: 1em;
    font-size: small;
  }

  .projet > img {
    display: none;
  }
}
