@font-face {
 font-family: "Heebo";
 src: url("fonts/Heebo-Regular.ttf") format("truetype")
}

body {
  padding: 0;
  margin: 0;

  color: whitesmoke;
  background-color: #0B0C0A;
  font-family: "Segoe UI", Arial, "Helvetica Neue", sans-serif;

  overflow-x: hidden;
}

/* Scrollbar */
body::-webkit-scrollbar {
  width: 0.3em;
}

body::-webkit-scrollbar-track {
  box-shadow: none !important;
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #ff9f43;

  border-radius: 25px;
}

/*
 * h1, h2
 */
h1.title {
  font-size: 4rem;
}

h2.title {
  font-size: 3rem;
}

.title {
  user-select: none;

  line-height: 1.15;
  letter-spacing: -0.02em;
  color: #fff;
}

.title.sm {
  font-size: 2rem;
  color: #fff;
}

/*
 * Réseaux sociaux
 */
.icons {
  user-select: none;
  margin: 0 3em 0 3em;
  display: flex;
  flex-wrap: wrap;
}

.icons a {
  color: #EAB543;
  padding: 1em;
  display: inline-block;
}

/*
 * Boutons
 */
.buttons {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 1.4em;


  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.buttons > * {
  flex: 1 0 auto;
}

/* Règles horizontales */
hr {
  border: 0;
  border-top: 1px solid #eee;
  margin-top: 3em;
  width: 6em;
}

/* Conteneurs */
main {
  margin-top: 3em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Liens, .color-primary */
a {
  color: inherit;
  text-decoration: none;
}

a, .color-primary {
  color: #ee5253;
  border-color: #ee5253;
  text-decoration: none;
}

.color-secondary {
  color: #52EEED;
  border-color: #1dd1a1;
  text-decoration: none;
}

/* Profil */
.me {
  display: flex;
  align-items: center;

  user-select: none;
}

/* Avatar */
img#avatar {
  border-radius: 50%;
  margin-right: 3em;
  width: 128px;
  height: 128px;
}

img#avatar.sm {
  width: 64px;
  height: 64px;
}

/* Sous-titre */
.subtitle {
  width: 80%;
  font-family: "Heebo", "Helvetica Neue", system-ui;
  font-size: 2em;
  text-align: center;
  line-height: 1.4em;
  letter-spacing: .04em;
}

.description {
  background-color: rgba(0,0,0,.5);

  padding: 1.5em;
  margin: auto 5em auto;

  color: #ecf0f1;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1em;
  line-height: 24px;
  text-align: justify;
  word-spacing: 0.5rem;
}

.description > section > h3 {
  font-weight: lighter;
  font-family: 'Heebo', system-ui;
  font-size: 1.7em;
  letter-spacing: 0.1em;
}

.description > section > p {
  margin-top: 2em;
}

/*
 * Conteneur contenant un fond d'écran sous forme de vidéo
*/
.video-container {
  position: relative;
  background-color: #000;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

/*
 * Lecteur vidéo du conteneur
*/
.video-container > video {
  object-fit: fill;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
}

.video-container > .container {
  position: relative;
  z-index: 2;
}

/* Haut de page */
header {
  position: relative;
  z-index: 5;

  width: 100%;
  padding: 0 0.5rem;

  display: flex; /*1*/
  flex-direction : row; /*2*/
  justify-content: center; /*3*/

  transition: background-color 0.5s ease-in-out;

  overflow: hidden;
}

header.sm {
  justify-content: space-between;
}

header > nav {
  float: right;
}

nav > .btn-highlight {
  background-color: unset;
}

nav.buttons {
  background-color: rgba(0,0,0,.5);
  padding: 1em;
}

@media(max-width: 450px) {
  header, nav {
    flex-flow: column wrap;
  }

  nav > .btn-highlight {
    text-align: left;
    width: 100%;
  }
}

/* Navigation bar buttons */
.btn-highlight {
  background-color: rgba(0,0,0,.5);
  display: inline-block;
  text-align: center;
  padding: 1.5rem;
}

.btn-highlight > a {
  font-family: system-ui;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .15em;
  display: inline-block;
  position: relative;
}

.btn-highlight > a:not([disabled])::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: whitesmoke;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.btn-highlight > a:hover::after {
  width: 100%;
  left: 0;
}

.btn-disabled {
  cursor: not-allowed;
  color: oldlace;
}

/* Formulaire de contact */
form.contact {
  padding: 1.5em;
  word-spacing: 0.5rem;

  color: #ecf0f1;
  background-color: rgba(0,0,0,.5);

  display: flex;
  flex-direction: column;
}

form.contact > input,textarea {
  width: 100%;
}

form.contact > * {
  float: left;
}

form.contact > .user-box input, textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

form.contact > button {
  background: white;

  border: none;
  outline: none;

  position: relative;
  display: inline-block;

  padding: 10px 20px;
  margin-top: 40px;

  color: black;

  font-family: monospace, system-ui;
  font-size: 1.3em;
  font-weight: 900;

  text-decoration: none;
  text-transform: uppercase;

  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

form.contact > button:hover {
  transform: scale(1.05, 1.05);
}

/* Bas de page */
footer {
  position: relative;
  z-index: 2;

  background-color: rgba(0,0,0,.5);

  min-height: 10em;

  padding: 1.5em;
  margin: 1.5em;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer > .child {
  margin: 1.5em;
  height: 100%;
  border-right: 1px solid grey;

  flex-basis: 45%;
}

footer > .child > ul {
  margin-left: -2em;
}

footer > .child-large {
  flex-basis: unset;
}

footer > .child:last-child {
  border-right: 0;
}

footer .title {
  font-family: "Heebo", sans-serif;
  font-size: larger;
}

/*
 * Style pour appareils ayant une taille d'écran plus petite que 600 px
 */
@media (max-width: 600px) {
  .me {
    margin-top: 3em;
    flex-direction: column;
  }

  .subtitle {
    font-size: 1.3em;
  }

  .me:not(.sm) img#avatar {
    margin-right: 0;
  }

  .description {
    padding: 1.5em;
    margin: 1.5em;
  }

  footer {
    flex-direction: column;
    align-items: flex-start;
  }

  footer > .child {
    border: 0;
  }

  footer p {
    font-size: 1.1em;
  }
}
